@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var seoTitle = Model.Value<string>("seoTitle");
    var seoDescription = Model.Value<string>("seoDescription");
    var url = Model.Url(mode: UrlMode.Absolute);

    string GetAuthorName(IPublishedContent currentNode)
    {
        return currentNode.CreatorName();
    }

    string GetPublishedDate(IPublishedContent currentNode)
    {
        return currentNode.CreateDate.ToUniversalTime().ToString("R");
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">

    @* Meta *@
    <title>@seoTitle</title>
    <link rel="canonical" href="@url">
    <meta name="title" content="@seoTitle">
    <meta name="description" content="@seoDescription">
    <meta name="author" content="@GetAuthorName(Model)">
    <link rel="sitemap" href="/sitemap">
    @* TODO: Article Published/Modified Time *@

    @* Open Graph / Facebook *@
    <meta property="og:title" content="@seoTitle">
    <meta property="og:description" content="@seoDescription">
    <meta property="og:url" content="@url">
    @* <meta property="og:image" content=""> *@

    @* Twitter *@
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="@url">
    <meta property="twitter:title" content="@seoTitle">
    <meta property="twitter:description" content="@seoDescription">
    @* <meta property="twitter:image" content=""> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <li><strong>danielproctor.dev</strong></li>
      </ul>
    </nav>
  </header>

  <main class="container">
    @RenderBody()
  </main>

  <footer class="container">
    <hr />
    <nav>
      <ul>
        <li><strong>Copyright © @DateTime.Now.Year  |  All rights reserved.</strong></li>
      </ul>
      <ul>
        <li><a href="https://github.com/danielproctor31" class="fa-brands fa-github-alt"></a></li>
        <li><a href="https://linkedin.com/in/daniel-proctor-uk" class="fa-brands fa-linkedin"></a></li>
        <li><a href="mailto:hello@danielproctor.dev" class="fa-solid fa-envelope"></a></li>
        <li><a href="https://localhost:44332/blog/rss" class="fa-solid fa-rss"></a></li>
      </ul>
    </nav>
  </footer>
  @RenderSection("Scripts", required: false)
</body>
</html>
